<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>日期</title>
    <link rel="stylesheet" type="text/css" href="layui/css/layui.css">
</head>
<body>
	<div class="layui-form">
        <div class="layui-form-item">
            <div class="layui-inline">
                <div class="layui-input-inline">
                    <input type="text" class="layui-input" id="radar-date" placeholder="yyyy-MM-dd">
                </div>
            </div>
        </div>
    </div>

</body>
<script src="layui/layui.all.js"></script>
<script type="text/javascript">
    let laydate = layui.laydate;
    laydate.render({
        elem: '#radar-date'
        ,value: new Date()
        ,type: 'datetime',
        theme: '#0e6791',
        format:'yyyy年MM月dd日 HH时mm分ss秒'
        ,done: function(value, date, endDate){
            //选择好日期之后会执行的操作
        }
    });
</script>
</html>