<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <title>展示</title>

    <link rel="stylesheet" type="text/css" href="../static/css/index.css">
    <link rel="stylesheet" type="text/css" href="../static/css/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="../static/css/date-slider.css">
    <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/jquery/jquery.js"></script>
    <script type="text/javascript" src="../static/js/jquery-3.2.1.js"></script>
    <script type="text/javascript" src="../static/js/jquery.ui.js"></script>

    <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/echarts.min.js"></script>
       <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts-gl/echarts-gl.min.js"></script>
       <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts-stat/ecStat.min.js"></script>
       <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/extension/dataTool.min.js"></script>
       <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/map/js/china.js"></script>
       <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/map/js/world.js"></script>





    <script type="text/javascript" src="http://api.map.baidu.com/api?v=3.0&ak=3gZTpgEdrTGnoVT75w7NVeGudmoSynzI"></script>
    <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/extension/bmap.min.js"></script>
       <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/simplex.js"></script>
    <script type="text/javascript" src="../static/js/heat_road.js"></script>
    <script type="text/javascript" src="../static/js/index.js"></script>

</head>
<body>
<!--地图容器-->
    <div id="mapContainer"></div>
    <div id="head_ban">
        <ul>
            <li id="heatmap" title="热力图" style="list-style-type:none;">
                <img src="../static/img/heatmap.png" onclick="demo()" style="width: 50px;height: 50px;">
            </li>
            <li id="spaceAnalysis" title="轨迹图" style="list-style-type:none;" >
                <img src="../static/img/spaceAnalysis.png" style="width: 50px;height: 50px;">
            </li>
        </ul>
    </div>
    <div id="toolBox">
        <div id="content">
            <div id="date-label" style="margin-bottom: 10px;"></div>
            <div id="slider"></div>
        </div>
        <button id="searchHeatBlock">Block</button>
        <button id="searchHeatStreet">Street</button>
    </div>



</body>
</html>
