<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <title>展示</title>
    
    <link rel="stylesheet" type="text/css" href="../static/css/index.css">
    <link rel="stylesheet" type="text/css" href="../static/css/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="../static/css/date-slider.css">

    <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/jquery/jquery.js"></script>
    <script type="text/javascript" src="../static/js/jquery-3.2.1.js"></script>
    <script type="text/javascript" src="../static/js/jquery.ui.js"></script>

    <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/echarts.min.js"></script>
    <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts-gl/echarts-gl.min.js"></script>
    <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts-stat/ecStat.min.js"></script>
    <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/extension/dataTool.min.js"></script>
    <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/map/js/china.js"></script>
    <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/map/js/world.js"></script>

    <script src="https://d3js.org/d3.v4.min.js"></script>

    <script type="text/javascript" src="http://api.map.baidu.com/api?v=3.0&ak=3gZTpgEdrTGnoVT75w7NVeGudmoSynzI"></script>
    <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/extension/bmap.min.js"></script>
       <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/simplex.js"></script>
    <script type="text/javascript" src="../static/js/heat_road.js"></script>
    <script type="text/javascript" src="../static/js/heat_block.js"></script>
    <script type="text/javascript" src="../static/js/trail.js"></script>
    <script type="text/javascript" src="../static/js/grid.js"></script>

    <script type="text/javascript" src="../static/js/line-bar.js"></script>

    <script type="text/javascript" src="../static/js/interaction.js"></script>

    <script type="text/javascript" src="../static/js/calendar.js"></script>

    <script type="text/javascript" src="../static/js/index.js"></script>

</head>
<body>
<!--地图容器-->
    <div id="inputWrite"></div>
    <div id="mapContainer"></div>
    <div id="head_ban">
        <ul>
            <li title="HeatMap" style="list-style-type:none;">
                <img id="heatmap" class="button-icon" src="../static/img/heatmap.png" style="width: 60px;height: 60px;border-radius: 5px;">
            </li>
            <li title="Trail" style="list-style-type:none;" >
                <img id="tracemap" class="button-icon" src="../static/img/tracemap.png" style="width: 60px;height: 60px;border-radius: 5px;">
            </li>
            <li title="Location" style="list-style-type:none;" >
                <img id="taximap" class="button-icon" src="../static/img/taxi.png" style="width: 60px;height: 60px;border-radius: 5px;">
            </li>
            <li title="Prediction" style="list-style-type:none;" >
                <img id="foremap" class="button-icon" src="../static/img/fore.png" style="width: 60px;height: 60px;border-radius: 5px;">
            </li>
            <li title="Charts" style="list-style-type:none;" >
                <img id="statsmap" class="button-icon" src="../static/img/stats.png" style="width: 60px;height: 60px;border-radius: 5px;">
            </li>
            <li title="Grids" style="list-style-type:none;" >
                <img id="gridmap" class="button-icon" src="../static/img/grid.png" style="width: 60px;height: 60px;border-radius: 5px;   border: 1px solid #c5c5c5;">
            </li>
        </ul>
    </div>
    
    <div id="toolBox-heatmap" class="toolBox">
        <div class="title">HeatMap</div>
        <div class="sliderContent">
            <label>Date: </label>
            <div id="heatmap-date-label" class="date-label"></div>
            <div id="heatmap-date-slider" class="date-slider"></div>
        </div>
        <div id="createHeatMapBlock" class="button-style" style="width: 35%">Block</div>
        <div id="createHeatMapStreet" class="button-style" style="width: 35%">Street</div>

    </div>

    <div id="toolBox-trailmap" class="toolBox">
        <div class="title">Trail</div>
        <div class="sliderContent">
            <label>Date: </label>
            <div id="trailmap-date-label" class="date-label" ></div>
            <div id="trailmap-date-slider" class="date-slider"></div>

            <label>Hour: </label>
            <div id="trailmap-hour-label" class="date-label" ></div>
            <div id="trailmap-hour-slider" class="date-slider"></div>
        </div>
        <div class="button-style" id="createTrail">Show Trail</div>
    </div>

    <div id="toolBox-taximap" class="toolBox">
        <div class="title">Location</div>
        <div class="sliderContent">
        <label>Date: </label>
        <div id="scatter-date-label" class="date-label"></div>
        <div id="scatter-date-slider" class="date-slider"></div>
        </div>
        <div id="createPickUpMap" class="button-style">Pick Up</div>
        <div id="createDropOffMap" class="button-style">Drop Off</div>
    </div>

    <div id="toolBox-foremap" class="toolBox">
        <div class="title">Prediction</div>
        <!--input id="prectionDate" type="datetime" value="2016-01-01" /-->
        <!--<div class="sliderContent">-->
        <!--<label>日期：</label>-->
        <!--<div id="heatmap-date-label" class="date-label"></div>-->
        <!--<div id="heatmap-date-slider" class="date-slider"></div>-->
        <!--</div>-->
        <div id="createForeMap" class="button-style">Predict</div>
    </div>

    <div id="toolBox-statsmap" class="toolBox">
        <div class="title">Charts</div>
        <!--<div class="sliderContent">-->
        <!--<label>日期：</label>-->
        <!--<div id="heatmap-date-label" class="date-label"></div>-->
        <!--<div id="heatmap-date-slider" class="date-slider"></div>-->
        <!--</div>-->
        <div id="createStatsMap1" class="button-style">Calendar</div>
        <div id="createStatsMap2" class="button-style">Line</div>
    </div>

    <div id="toolBox-gridmap" class="toolBox">
        <div class="title">GridMap</div>
        <div class="sliderContent">
            <label class="title-label">Hour: </label>
            <div id="gridmap-hour-label" class="date-label"></div>
            <div id="gridmap-hour-slider" class="date-slider"></div>
        </div>
        <div class="button-style" id="createGridMap">Grid</div>
    </div>    

    <div id="statsMap1" class="statsMapBox" style="width: 45%; height: 38%">
        <div class="statMapTitle">Calendar</div>
        <div id="statsChart1" style="width: 600px; height: 300px;">...</div>
    </div>

    <div id="statsMap2" class="statsMapBox" style="width: 900px; height: 450px">
        <div class="statMapTitle">Line-Bar</div>
        <div id="statsChart2" style="width: 800px; height: 400px;">...</div>
    </div>
    <script src="../static/js/layui/layui.all.js"></script>
       <script type="text/javascript">
           let laydate = layui.laydate;
           console.log(laydate);
           laydate.render({
               elem: '#radar-date'
               ,value: new Date()
               ,type: 'datetime',
               theme: '#0e6791',
               format:'yyyy年MM月dd日 HH时mm分ss秒'
               ,done: function(value, date, endDate){
                   //选择好日期之后会执行的操作
               }
           });
       </script>
</body>
</html>
