<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <title>展示</title>

    <link rel="stylesheet" type="text/css" href="../static/css/index.css">
    <link rel="stylesheet" type="text/css" href="../static/css/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="../static/css/date-slider.css">
    <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/jquery/jquery.js"></script>
    <script type="text/javascript" src="../static/js/jquery-3.2.1.js"></script>
    <script type="text/javascript" src="../static/js/jquery.ui.js"></script>

    <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/echarts.min.js"></script>
    <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts-gl/echarts-gl.min.js"></script>
    <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts-stat/ecStat.min.js"></script>
    <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/extension/dataTool.min.js"></script>
    <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/map/js/china.js"></script>
    <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/map/js/world.js"></script>

    <script type="text/javascript" src="http://api.map.baidu.com/api?v=3.0&ak=3gZTpgEdrTGnoVT75w7NVeGudmoSynzI"></script>
    <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/extension/bmap.min.js"></script>
       <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/simplex.js"></script>
    <script type="text/javascript" src="../static/js/heat_road.js"></script>
    <script type="text/javascript" src="../static/js/heat_block.js"></script>
    <script type="text/javascript" src="../static/js/trail.js"></script>
    <script type="text/javascript" src="../static/js/grid.js"></script>

    <script type="text/javascript" src="../static/js/line-bar.js"></script>

    <script type="text/javascript" src="../static/js/interaction.js"></script>

    <script type="text/javascript" src="../static/js/index.js"></script>

</head>
<body>
<!--地图容器-->
    <div id="mapContainer"></div>
    <div id="head_ban">
        <ul>
            <li title="HeatMap" style="list-style-type:none;">
                <img id="heatmap" class="button-icon" src="../static/img/heatmap.png" style="width: 60px;height: 60px;border-radius: 5px;">
            </li>
            <li title="Trail" style="list-style-type:none;" >
                <img id="tracemap" class="button-icon" src="../static/img/tracemap.png" style="width: 60px;height: 60px;border-radius: 5px;">
            </li>
            <li title="Location" style="list-style-type:none;" >
                <img id="taximap" class="button-icon" src="../static/img/taxi.png" style="width: 60px;height: 60px;border-radius: 5px;">
            </li>
            <li title="Prediction" style="list-style-type:none;" >
                <img id="foremap" class="button-icon" src="../static/img/fore.png" style="width: 60px;height: 60px;border-radius: 5px;">
            </li>
            <li title="Charts" style="list-style-type:none;" >
                <img id="statsmap" class="button-icon" src="../static/img/stats.png" style="width: 60px;height: 60px;border-radius: 5px;">
            </li>
            <li title="Grids" style="list-style-type:none;" >
                <img id="gridmap" class="button-icon" src="../static/img/grid.png" style="width: 60px;height: 60px;border-radius: 5px;   border: 1px solid #c5c5c5;">
            </li>
        </ul>
    </div>
    
    <div id="toolBox-heatmap" class="toolBox">
        <div class="title">HeatMap</div>
        <div class="sliderContent">
            <label>Date: </label>
            <div id="heatmap-date-label" class="date-label"></div>
            <div id="heatmap-date-slider" class="date-slider"></div>
        </div>
        <div id="createHeatMapBlock" class="button-style" style="width: 35%">Block</div>
        <div id="createHeatMapStreet" class="button-style" style="width: 35%">Street</div>

    </div>

    <div id="toolBox-trailmap" class="toolBox">
        <div class="title">Trail</div>
        <div class="sliderContent">
            <label>Date: </label>
            <div id="trailmap-date-label" class="date-label" ></div>
            <div id="trailmap-date-slider" class="date-slider"></div>

            <label>Hour: </label>
            <div id="trailmap-hour-label" class="date-label" ></div>
            <div id="trailmap-hour-slider" class="date-slider"></div>
        </div>
        <div class="button-style" id="createTrail">Show Trail</div>
    </div>

    <div id="toolBox-taximap" class="toolBox">
        <div class="title">Location</div>
        <div class="sliderContent">
        <label>Date: </label>
        <div id="scatter-date-label" class="date-label"></div>
        <div id="scatter-date-slider" class="date-slider"></div>
        </div>
        <div id="createPickUpMap" class="button-style">Pick Up</div>
        <div id="createDropOffMap" class="button-style">Drop Off</div>
    </div>

    <div id="toolBox-foremap" class="toolBox">
        <div class="title">Prediction</div>
        <input id="prectionDate" type="datetime" value="2016-01-01" />
        <!--<div class="sliderContent">-->
        <!--<label>日期：</label>-->
        <!--<div id="heatmap-date-label" class="date-label"></div>-->
        <!--<div id="heatmap-date-slider" class="date-slider"></div>-->
        <!--</div>-->
        <div id="createForeMap" class="button-style">Predict</div>
    </div>

    <div id="toolBox-statsmap" class="toolBox">
        <div class="title">Charts</div>
        <!--<div class="sliderContent">-->
        <!--<label>日期：</label>-->
        <!--<div id="heatmap-date-label" class="date-label"></div>-->
        <!--<div id="heatmap-date-slider" class="date-slider"></div>-->
        <!--</div>-->
        <div id="createStatsMap1" class="button-style">Chart1</div>
        <div id="createStatsMap2" class="button-style">Chart2</div>
    </div>

    <div id="toolBox-gridmap" class="toolBox">
        <div class="title">GridMap</div>
        <div class="sliderContent">
            <label class="title-label">Hour: </label>
            <div id="gridmap-hour-label" class="date-label"></div>
            <div id="gridmap-hour-slider" class="date-slider"></div>
        </div>
        <div class="button-style" id="createGridMap">Grid</div>
    </div>    

    <div id="statsMap1" class="statsMapBox">
        <div class="statMapTitle">statsMap1</div>
        <div id="statsChart1" style="width: 800px; height: 400px;">...</div>
    </div>

    <div id="statsMap2" class="statsMapBox">
        <div class="statMapTitle">statsMap2</div>
        <div id="statsChart2" style="width: 800px; height: 400px;">...</div>
    </div>
<!--
    <script type="text/javascript">
        var domChart2 = document.getElementById("statsChart2");
        var statChart2_ = echarts.init(domChart2);
        var chart2option = {
            tooltip: {
                trigger: 'axis',
                axisPointer: {
                    type: 'cross',
                    crossStyle: {
                        color: '#999'
                    }
                }
            },
            toolbox: {
                feature: {
                    dataView: {show: true, readOnly: false},
                    magicType: {show: true, type: ['line', 'bar']},
                    restore: {show: true},
                    saveAsImage: {show: true}
                }
            },
            legend: {
                data:['Number of Taxi Running','Average Speed']
            },
            xAxis: [
                {
                    type: 'category',
                    data: ['00:00','01:00','02:00','03:00','04:00','05:00','06:00','07:00','08:00','09:00','10:00','11:00',
                    '12:00','13:00','14:00','15:00','16:00','17:00','18:00','19:00','20:00','21:00','22:00','23:00'],
                    axisPointer: {
                        type: 'shadow'
                    }
                }
            ],
            yAxis: [
                {
                    type: 'value',
                    name: 'Number',
                    min: 0,
                    max: 600,
                    interval: 50,
                    axisLabel: {
                        formatter: '{value} cars'
                    }
                },
                {
                    type: 'value',
                    name: 'Speed',
                    min: 0,
                    max: 15,
                    interval: 5,
                    axisLabel: {
                        formatter: '{value} m/s'
                    }
                }
            ],
            series: [
                {
                    name:'Number',
                    type:'bar',
                    data:[125, 86, 51, 45, 26, 59, 207, 364, 416, 406, 324, 316, 331, 330, 344, 386, 339, 397, 453, 502, 434, 429, 393, 286]
                },
                {
                    name:'Speed',
                    type:'line',
                    yAxisIndex: 1,
                    data:[8.118087055769834, 8.480844278313999, 9.300150287768576, 8.48554108500016, 11.755780053804186, 10.57430946407759, 8.042057633825037, 5.498799122557736, 3.5213793790937484, 4.520899789297898, 4.555298087808668, 3.3721010969980463, 3.3271842502337976, 3.842833015813565, 4.8487851277065, 5.1768866116286105, 3.893180152965215, 5.008225402343332, 4.69831144196241, 4.656487002304538, 5.00380977819788, 5.752256712525308, 7.099563870069367, 7.706313651921054]
                }
            ]
        };
        console.log(chart2option);

        if (chart2option && typeof chart2option === "object") {
            statChart2_.setOption(chart2option, true);
        }
    </script>

-->

</body>
</html>
